In [1]:
import pandas as pd
import pandasql as pdsql
import seaborn as sns
import signac

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_log_error

sns.set_theme(style="whitegrid")

In [2]:
project = signac.get_project('dataset_per_rsquared')

In [3]:
project

Project.get_project('/home/kidrahahjo/Machine-Learning/House Price Regression')

In [4]:
for job in project:
    if job.sp.get('5%') is not None:
        req_job = job
        break

In [5]:
req_job

Job(project=Project.get_project('/home/kidrahahjo/Machine-Learning/House Price Regression'), statepoint={'5%': ['OverallQual', 'GrLivArea', 'GarageCars', 'ExterQual', 'GarageArea', 'TotalBsmtSF', 'BsmtQual', '1stFlrSF', 'KitchenQual', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt', 'GarageFinish', 'YearRemodAdd', 'GarageYrBlt', 'MasVnrArea', 'Fireplaces', 'HeatingQC', 'BsmtFinSF1', 'Foundation', 'GarageType', 'LotFrontage', 'WoodDeckSF', '2ndFlrSF', 'OpenPorchSF', 'BsmtExposure', 'HalfBath', 'LotArea', 'LotShape', 'CentralAir', 'Electrical', 'PavedDrive', 'BsmtFullBath', 'SalePrice']})

In [6]:
features =req_job.sp.get('5%')
features

['OverallQual',
 'GrLivArea',
 'GarageCars',
 'ExterQual',
 'GarageArea',
 'TotalBsmtSF',
 'BsmtQual',
 '1stFlrSF',
 'KitchenQual',
 'FullBath',
 'TotRmsAbvGrd',
 'YearBuilt',
 'GarageFinish',
 'YearRemodAdd',
 'GarageYrBlt',
 'MasVnrArea',
 'Fireplaces',
 'HeatingQC',
 'BsmtFinSF1',
 'Foundation',
 'GarageType',
 'LotFrontage',
 'WoodDeckSF',
 '2ndFlrSF',
 'OpenPorchSF',
 'BsmtExposure',
 'HalfBath',
 'LotArea',
 'LotShape',
 'CentralAir',
 'Electrical',
 'PavedDrive',
 'BsmtFullBath',
 'SalePrice']

In [8]:
dataset_train = pd.read_csv("../5rsq_final_data.csv")
dataset_test = pd.read_csv("../Data/test.csv")[['Id'] + features[:-1]]

In [9]:
categorical_cols = []
for column in features[:-1]:
    if str(dataset_train[column].dtype) == 'object':
        categorical_cols.append(column)
        dataset_test[column] = dataset_test[column].fillna('None')
        dataset_train[column] = dataset_train[column].fillna('None')
        labelencoder = LabelEncoder()
        dataset_test[column] = pd.Series(labelencoder.fit_transform(dataset_test[column]))
        dataset_train[column] = pd.Series(labelencoder.fit_transform(dataset_train[column]))

non_cat_cols = list(set(features).difference(set(categorical_cols)))

In [10]:
dataset_test = dataset_test.fillna(-1)
dataset_train = dataset_train.fillna(-1)

In [11]:
X = dataset_train[features[:-1]]
y = dataset_train['SalePrice']
test_X = dataset_test[features[:-1]]
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2)

In [12]:
X.head()

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,2ndFlrSF,OpenPorchSF,BsmtExposure,HalfBath,LotArea,LotShape,CentralAir,Electrical,PavedDrive,BsmtFullBath
0,7,1710,2,2,548,856,2,856,2,2,...,854,61,3,1,8450,3,1,5,2,1
1,6,1262,2,3,460,1262,2,1262,3,2,...,0,0,1,0,9600,3,1,5,2,0
2,7,1786,2,2,608,920,2,920,2,2,...,866,42,2,1,11250,0,1,5,2,1
3,7,1717,3,3,642,756,4,961,2,1,...,756,35,3,0,9550,0,1,5,2,1
4,8,2198,3,2,836,1145,2,1145,2,2,...,1053,84,0,1,14260,0,1,5,2,1

In [13]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [14]:
dataset_test.head()

,Id,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,...,2ndFlrSF,OpenPorchSF,BsmtExposure,HalfBath,LotArea,LotShape,CentralAir,Electrical,PavedDrive,BsmtFullBath
0,1461,5,896,1.0,3,730.0,882.0,4,896,4,...,0,0,3,0,11622,3,1,3,2,0.0
1,1462,6,1329,1.0,3,312.0,1329.0,4,1329,2,...,0,36,3,1,14267,0,1,3,2,0.0
2,1463,5,1629,2.0,3,482.0,928.0,2,928,4,...,701,34,3,1,13830,0,1,3,2,0.0
3,1464,6,1604,2.0,3,470.0,926.0,4,926,2,...,678,36,3,1,9978,0,1,3,2,0.0
4,1465,8,1280,2.0,2,506.0,1280.0,2,1280,2,...,0,82,3,0,5005,0,1,3,2,0.0

In [15]:
regr = RandomForestRegressor()
regr.fit(train_X, train_y)
val_r2_score = regr.score(val_X, val_y)
val_pred = regr.predict(val_X)
val_msle_score = mean_squared_log_error(val_y, val_pred)

In [16]:
val_r2_score

0.8711809143597379

In [17]:
val_msle_score

0.02095158570029134

In [18]:
final_predict = regr.predict(test_X)

In [19]:
final_predict = pd.DataFrame({'Id': list(dataset_test['Id']), 'SalePrice': final_predict, })
final_predict

        Id  SalePrice
0     1461  126920.24
1     1462  153243.50
2     1463  176154.35
3     1464  187826.50
4     1465  201056.06
...    ...        ...
1454  2915   79753.00
1455  2916   84429.80
1456  2917  150194.95
1457  2918  117635.59
1458  2919  230611.98

[1459 rows x 2 columns]

In [20]:
final_predict.to_csv('../Submissions/5r2sample_rfr.csv', index=False)

In [21]:
req_job.sp['val_mean_squared_log_error'] = val_r2_score
req_job.sp['submit_mean_squared_log_error'] = val_msle_score